
.navbar{
  width: 100%;
  height: 5px;
  background-color: rgba(255,255,255,1.0);
  color: black;
  font-family:"Courier New";
  font-size: 1;
  text-decoration: none;
}

body, html {
    height: 100%;
}
            
.parallax {
    /* The image used */
    background-image: url('https://cdn0.vox-cdn.com/uploads/chorus_image/image/51770527/o__24_.0.0.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link{
    font-size: 210%;
      text-decoration: none;
}