body{
background: url(https://s3-us-west-2.amazonaws.com/sfmomamedia/static/sfmoma/images/logo-parts-sf.png) no-repeat center center fixed;
background-size: center;
}
.navbar{
  width: 100%;
  height: 5px;
  background-color: rgba(255,255,255,1.0);
  color: black;
  font-family:"Courier New";
  font-size: 1;
}

